In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import ipywidgets as widgets

In [2]:
# Import API key
from config import weather_api_key
from config import g_key
gmaps.configure(api_key=g_key)

# Store Part 1 Results into DF

In [3]:
#Store Part I results into DataFrame by loading the csv exported in Part I to a DataFrame
vacay_df = pd.read_csv("../output_data/cities.csv")
vacay_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,haines junction,60.7522,-137.5108,21.20,93,12,1.14,CA,2021-04-24 12:39:46
1,port alfred,-33.5906,26.8910,74.77,57,15,14.25,ZA,2021-04-24 12:39:46
2,port hardy,50.6996,-127.4199,44.60,100,90,2.30,CA,2021-04-24 12:39:47
3,ahuimanu,21.4447,-157.8378,73.40,73,75,10.36,US,2021-04-24 12:39:47
4,mao,39.8885,4.2658,66.20,59,20,6.91,ES,2021-04-24 12:39:47

# Humidity Heatmap

In [4]:
locations = vacay_df[["Lat","Lng"]]
weights = vacay_df["Humidity"]

In [5]:
#Humidity Heatmap THAT DISPLAYS HUMIDITY FOR EVERY CITY FROM PART 1
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating=False, max_intensity=300, point_radius = 5)
fig.add_layer(heat_layer)
#plt.savefig("../output_data/Map1")
fig
####I HAVE NO CLUE IF THIS IS RIGHT OR NOT########

Figure(layout=FigureLayout(height='420px'))

# Create New DF Fitting Weather Criteria

In [6]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
#Drop any rows will null values.
#MAx temp < 80 but > 70, wind speed < 10 mph, zero cloudiness - DROP ANY ROWS THAT DON'T MEET ALL 3 CONDITIONS 
ideal_df = vacay_df.loc[(vacay_df["Max Temp"] <80) & (vacay_df["Max Temp"] >70) & (vacay_df["Wind Speed"] <10) & (vacay_df["Cloudiness"] ==0)]
ideal_df.describe()
#ideal_df.head()

             Lat         Lng   Max Temp   Humidity  Cloudiness  Wind Speed
count  13.000000   13.000000  13.000000  13.000000        13.0   13.000000
mean    5.581254   11.349285  74.280000  56.538462         0.0    6.712308
std    33.872746   55.335981   2.595409  25.529771         0.0    2.710031
min   -33.015300  -60.145800  71.600000   8.000000         0.0    1.990000
25%   -22.966100  -40.292500  72.000000  35.000000         0.0    4.610000
50%   -12.740600    3.905400  73.400000  68.000000         0.0    8.050000
75%    43.490600   27.911600  77.000000  73.000000         0.0    8.950000
max    46.616600  118.081900  79.000000  94.000000         0.0    9.220000

# Hotel Map

In [7]:
hotel_df=ideal_df

In [8]:
hotel_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
10,arraial do cabo,-22.9661,-42.0278,77.0,78,0,9.22,BR,2021-04-24 12:39:49
49,vilhena,-12.7406,-60.1458,73.4,94,0,8.05,BR,2021-04-24 12:39:59
74,east london,-33.0153,27.9116,73.4,56,0,9.22,ZA,2021-04-24 12:40:08
172,semme,46.1963,1.5007,71.6,26,0,9.22,FR,2021-04-24 12:40:34
178,carnarvon,-24.8667,113.6333,73.4,78,0,8.05,AU,2021-04-24 12:40:35

In [14]:
#Hotel Map
#Store into variable named hotel_df.
#"TEN OR LESS PINS FOR ALL CITIES IN THE DF"
# "PINS ARE ALL CLICKABLE TO DISPLAY CITY, COUNTRY, AND HOTEL NAME"
#Add a "Hotel Name" column to the DataFrame.

#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.

In [9]:
############ NOTE: Do not change any of the code in this cell###############

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

KeyError: 'Hotel Name'

In [ ]:
# Add marker layer ontop of heat map


# Display figure