In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import ipywidgets as widgets

In [2]:
# Import API key
from config import weather_api_key
from config import g_key
gmaps.configure(api_key=g_key)

# Store Part 1 Results into DF

In [3]:
#Store Part I results into DataFrame by loading the csv exported in Part I to a DataFrame
vacay_df = pd.read_csv("../output_data/cities.csv")
vacay_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,cape town,-33.9258,18.4232,75.00,56,0,12.66,ZA,2021-04-23 12:16:20
1,lavrentiya,65.5833,-171.0000,24.53,70,100,3.58,RU,2021-04-23 12:12:15
2,zonguldak,41.2500,31.8333,69.80,32,75,11.50,TR,2021-04-23 12:16:20
3,jamestown,42.0970,-79.2353,36.00,80,1,10.36,US,2021-04-23 12:13:35
4,south venice,27.0531,-82.4243,64.99,94,1,10.36,US,2021-04-23 12:16:21

# Humidity Heatmap

In [4]:
locations = vacay_df[["Lat","Lng"]]
weights = vacay_df["Humidity"]

In [33]:
#Humidity Heatmap THAT DISPLAYS HUMIDITY FOR EVERY CITY FROM PART 1
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating=False, max_intensity=300, point_radius = 5)
fig.add_layer(heat_layer)
#plt.savefig("../output_data/Map1")
fig
####I HAVE NO CLUE IF THIS IS RIGHT OR NOT########

Figure(layout=FigureLayout(height='420px'))

# Create New DF Fitting Weather Criteria

In [39]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
#Drop any rows will null values.
#MAx temp < 80 but > 70, wind speed < 10 mph, zero cloudiness - DROP ANY ROWS THAT DON'T MEET ALL 3 CONDITIONS 
ideal_df = vacay_df.loc[(vacay_df["Max Temp"] <80) & (vacay_df["Max Temp"] >70) & (vacay_df["Wind Speed"] <10) & (vacay_df["Cloudiness"] ==0)]
ideal_df.describe()

            Lat        Lng   Max Temp   Humidity  Cloudiness  Wind Speed
count   6.00000   6.000000   6.000000   6.000000         6.0    6.000000
mean    6.23175 -22.998867  73.568333  68.500000         0.0    5.433333
std    28.02708  57.544864   2.347854  18.501351         0.0    3.182035
min   -33.01170 -91.916700  71.600000  46.000000         0.0    1.990000
25%   -13.69315 -74.351775  72.050000  54.500000         0.0    3.095000
50%    12.22415 -11.553450  73.400000  69.000000         0.0    4.595000
75%    27.20000  25.497825  73.400000  79.750000         0.0    8.352500
max    36.09420  34.466700  78.010000  94.000000         0.0    9.220000

# Hotel Map

In [ ]:
#Hotel Map
#Store into variable named hotel_df.
#"TEN OR LESS PINS FOR ALL CITIES IN THE DF"
#Add a "Hotel Name" column to the DataFrame.
#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.

In [ ]:
############ NOTE: Do not change any of the code in this cell###############

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure