In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import requests
import gmaps
import gmaps.datasets
import os
import ipywidgets as widgets

In [2]:
# Import API key
from config import weather_api_key
from config import g_key
gmaps.configure(api_key=g_key)

# Store Part 1 Results into DF

In [3]:
#Store Part I results into DataFrame by loading the csv exported in Part I to a DataFrame
vacay_df = pd.read_csv("../output_data/cities.csv")
vacay_df.head()

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date
0,tiznit,29.5833,-9.5000,63.48,52,22,8.86,MA,2021-04-23 18:58:51
1,martapura,-3.4167,114.8500,73.40,100,27,1.14,ID,2021-04-23 18:58:52
2,nuevitas,21.5453,-77.2644,89.60,37,40,13.80,CU,2021-04-23 18:58:52
3,hofn,64.2539,-15.2082,46.40,76,90,1.59,IS,2021-04-23 18:57:50
4,necochea,-38.5473,-58.7368,66.00,88,100,1.99,AR,2021-04-23 18:58:52

# Humidity Heatmap

In [4]:
locations = vacay_df[["Lat","Lng"]]
weights = vacay_df["Humidity"]

In [5]:
#Humidity Heatmap THAT DISPLAYS HUMIDITY FOR EVERY CITY FROM PART 1
#Configure gmaps.
#Use the Lat and Lng as locations and Humidity as the weight.
#Add Heatmap layer to map.
fig = gmaps.figure()
heat_layer = gmaps.heatmap_layer(locations, weights, dissipating=False, max_intensity=300, point_radius = 5)
fig.add_layer(heat_layer)
#plt.savefig("../output_data/Map1")
fig
####I HAVE NO CLUE IF THIS IS RIGHT OR NOT########

Figure(layout=FigureLayout(height='420px'))

# Create New DF Fitting Weather Criteria

In [11]:
#Create new DataFrame fitting weather criteria
#Narrow down the cities to fit weather conditions.
#Drop any rows will null values.
#MAx temp < 80 but > 70, wind speed < 10 mph, zero cloudiness - DROP ANY ROWS THAT DON'T MEET ALL 3 CONDITIONS 
ideal_df = vacay_df.loc[(vacay_df["Max Temp"] <80) & (vacay_df["Max Temp"] >70) & (vacay_df["Wind Speed"] <10) & (vacay_df["Cloudiness"] ==0)]
ideal_df.describe()
#ideal_df.head()

             Lat         Lng   Max Temp   Humidity  Cloudiness  Wind Speed
count   6.000000    6.000000   6.000000   6.000000         6.0    6.000000
mean   -1.977017   17.116750  74.618333  41.833333         0.0    6.438333
std    33.886613   92.552292   2.305111  26.430412         0.0    3.472702
min   -34.483300 -113.584100  70.900000  15.000000         0.0    1.010000
25%   -20.771900  -40.812475  73.540000  24.750000         0.0    4.447500
50%   -19.308150   18.319150  74.975000  32.500000         0.0    7.560000
75%    23.358425   96.856800  76.462500  57.500000         0.0    8.827500
max    44.916700  117.133300  76.840000  83.000000         0.0    9.840000

# Hotel Map

In [9]:
#Hotel Map
#Store into variable named hotel_df.
#"TEN OR LESS PINS FOR ALL CITIES IN THE DF"
#Add a "Hotel Name" column to the DataFrame.
hotel_df=ideal_df
hotel_df.head()
#hotel_df["Hotel"]=""



#Set parameters to search for hotels with 5000 meters.
#Hit the Google Places API for each city's coordinates.
#Store the first Hotel result into the DataFrame.
#Plot markers on top of the heatmap.

,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Hotel
68,saint george,37.1041,-113.5841,75.99,15,0,1.01,US,2021-04-23 18:59:07,
82,karratha,-20.7377,116.8463,76.62,35,0,7.47,AU,2021-04-23 18:59:09,
107,rocha,-34.4833,-54.3333,73.96,65,0,9.84,UY,2021-04-23 18:58:53,
136,quelimane,-17.8786,36.8883,70.90,83,0,3.44,MZ,2021-04-23 18:59:22,
409,roebourne,-20.7833,117.1333,76.84,30,0,7.65,AU,2021-04-23 19:00:47,

In [ ]:
############ NOTE: Do not change any of the code in this cell###############

# Using the template add the hotel marks to the heatmap
info_box_template = """
<dl>
<dt>Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
</dl>
"""
# Store the DataFrame Row
# NOTE: be sure to update with your DataFrame name
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]
locations = hotel_df[["Lat", "Lng"]]

In [ ]:
# Add marker layer ontop of heat map


# Display figure